.wrapper {
    margin: 0;
    background-color: #0dcaf0;
    background-image: url("https://phonoteka.org/uploads/posts/2021-04/1618497892_4-p-svetlii-belii-fon-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



